@tailwind base;
@tailwind components;
@tailwind utilities;

/* Humbeerger menu */

.humburger {
    cursor: pointer;
    width: 25px;
    height: 25px;
    transition: all 0.25s;
    position: relative;
}

.humburger-top,
.humburger-middle,
.humburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000000;
    transform: rotate(0);
    transition: all 0.5s;
}

.humburger-middle {
    transform: translateY(7px);
}

.humburger-top {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: rotateY(0px);
}

.open .humburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .humburger-middle {
    display: none;
}

.open .humburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.youtube {
	background-color: #000;
	margin-bottom: 30px;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
}
.youtube img {
	width: 100%;
	top: -16.82%;
	left: 0;
	opacity: 0.7;
}
.youtube .play-button {
	width: 90px;
	height: 60px;
	background-color: #333;
	box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
	z-index: 1;
	opacity: 0.8;
	border-radius: 6px;
}
.youtube .play-button:before {
	content: "";
	border-style: solid;
	border-width: 15px 0 15px 26.0px;
	border-color: transparent transparent transparent #fff;
}
.youtube img,
.youtube .play-button {
	cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
	position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}